<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Emmanuel Agboli</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:white">
  <center>
    <b>International Space Station - ISS</b>
  </center>
    <br>
  <center> <img src="static/images/iss.jpg" Width="200"> </center>
    <p>"Having worked with Emmanuel in the Customer Marketing and Commercial Planning team at Diageo, he stood out as self motivated & driven, meticulous in execution of projects while ensuring accuracy and high-quality results - qualities that set him above his peers

    I would welcome the opportunity to work with him again without thinking twice." From Prince Gyebi.</p>

    <br>



  
    <a href="/"><button>Home</button></a>
    <a href="/skills"><button>Skills</button></a>
    <a href="/exp"><button>Experience</button></a>
    <a href="/vol"><button>Volunteer</button></a>
    <a href="/edu"><button>Education</button></a>



    </center>
  <script src="script.js"></script>
</body>

</html>