<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Emmanuel Agboli</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:DodgerBlue">
  
  <center>
    <b>Weather in Sudbury</b>

    <p> Temperature in Sudbury is {{temp_c}} degrees</p>

    

 </p>

    <br>
    <br>
    <a href="/"><button>Home</button></a>
    <a href="/ref"><button>Recommendations</button></a>
    <a href="/exp"><button>Experience</button></a>
    <a href="/vol"><button>Volunteer</button></a>
    <a href="/edu"><button>Education</button></a>



    </center>
  <script src="script.js"></script>
</body>

</html>